<div *ngIf="loading" class="loading-indicator">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>
<div class="container">
    <!-- PAGINA LISTA -->
    <div [hidden]="stateView != STATE_LIST">
        <!--FILTRO-->
        <mat-card class="header-page">
            <mat-card-content>

                <div class="row">

                    <div class="col-md-3">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Id</mat-label>
                            <input #searchId autocomplete="off" matInput
                                   maxlength="10" name="text" only-number>
                            <button aria-label="search" mat-button mat-icon-button matSuffix>
                                <mat-icon *ngIf="!searchId.value">search</mat-icon>
                                <mat-icon (click)="searchId.value = '';this.filter.id = undefined; this.list()"
                                          *ngIf="searchId.value">close
                                </mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="group-button right col-md-3">
                        <button (click)="limparFiltro()" color="primary" mat-raised-button type="button">
                            Limpar Filtro
                        </button>

                        <button [matMenuTriggerFor]="menu" aria-label="Ações" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button (click)="newRegistry()" mat-menu-item>
                            <mat-icon>add</mat-icon>
                            <span>Novo</span>
                        </button>
                        <button (click)="list()" mat-menu-item>
                            <mat-icon>refresh</mat-icon>
                            <span>Atualizar</span>
                        </button>
                    </mat-menu>

                </div>
            </mat-card-content>
        </mat-card>

        <!--LISTA-->
        <mat-card>
            <mat-card-content>

                <mat-table #table [dataSource]="listExample">
                    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                    <mat-row (click)="edit(element)"
                             *matRowDef="let row; columns: columns;let element"></mat-row>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="text">
                        <mat-header-cell *matHeaderCellDef>Text Input</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.text}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="cnpj">
                        <mat-header-cell *matHeaderCellDef>CNPJ Input</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cnpj }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="autocomplete">
                        <mat-header-cell *matHeaderCellDef>Autocomplete</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.autocomplete?.description}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="operacoes">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button color="primary" mat-button>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                </mat-table>
                <div *ngIf="!listExample.length" class="text-center p-1">
                    Nenhum registro encontrado!
                </div>

                <pagination (listar)="listarPaginado()" [pagination]="filter.pagination!"></pagination>

            </mat-card-content>
        </mat-card>
    </div>

    <!--PAGINA MANUTENÇÃO-->
    <div [hidden]="stateView != STATE_MANUT">
        <mat-card class="header-page">
            <mat-card-content>
                <div class="row">
                    <div class="group-button col-md-1">
                        <button (click)="voltarLista()" class="back-button" mat-button>
                            <i class="material-icons img-logout-button">arrow_back</i>
                        </button>
                    </div>
                    <div class="group-button col-md-9">
                        <h5 class="text">Id: {{selected.id}}</h5>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <form #documentEditForm="ngForm" (submit)="save()" [formGroup]="form" autocomplete="off" id="ngForm">
            <mat-card>
                <mat-card-content class="form-container row">

                    <mat-form-field appearance="outline" class="col-md-3" floatLabel="always">
                        <mat-label>Text Input</mat-label>
                        <input #text formControlName="text" matInput
                               maxlength="200"
                               name="text" required>
                        <mat-error>{{getErrorMessage('text')}}</mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="col-md-3" floatLabel="always">
                        <mat-label>CNPJ</mat-label>
                        <input #cnpj [dropSpecialCharacters]="false"
                               formControlName="cnpj"
                               mask="00.000.000/0000-00"
                               matInput maxlength="18"
                               name="cnpj" required>
                        <mat-error>{{getErrorMessage('cnpj')}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-3" floatLabel="always">
                        <mat-label>Data Input</mat-label>
                        <input [matDatepicker]="picker" formControlName="date"
                               matInput>
                        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>{{getErrorMessage('date')}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-3" floatLabel="always">
                        <mat-label>Combobox Input</mat-label>
                        <mat-select [compareWith]="comparar"
                                    aria-label="Combobox"
                                    formControlName="combobox"
                                    required>
                            <mat-option *ngFor="let obj of comboList" [value]="obj">
                                {{obj}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{getErrorMessage('combobox')}}</mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="col-md-6" floatLabel="always">
                        <mat-label>E-mail Input</mat-label>
                        <input #email #input formControlName="email"
                               matInput maxlength="200"
                               name="email">
                        <mat-error>{{getErrorMessage('email')}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6" floatLabel="always">
                        <mat-label>Autocomplete Input</mat-label>
                        <input #inputAutocomplete [autocompleteType]="'object'" [matAutocomplete]="autoCompleteManut"
                               aria-label="Autocomplete" formControlName="autocomplete"
                               matInput>
                        <mat-autocomplete #autoCompleteManut [displayWith]="formataAutoComplete">
                            <mat-option *ngFor="let item of observableAutocomplete | async" [value]="item">
                                <div>{{item.description}}</div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>{{getErrorMessage('autocomplete')}}</mat-error>
                    </mat-form-field>

                    <div class="form-container col-md-12">
                        <div class="row">
                            <label class="col-md-2" id="informa-emulamentos-label">Radiobutton</label>
                            <mat-radio-group aria-label="Radiobutton" aria-labelledby="registro-avaliacao-label"
                                             class="col-md-10"
                                             formControlName="radiobutton">
                                <mat-radio-button value="1">Sim</mat-radio-button>
                                <mat-radio-button value="0">Não</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>


                    <div class="form-container col-md-12">
                        <div class="row">
                            <label class="col-md-12">Imagem Input</label>

                            <input-file [accept]="'.jpg, .png, .jpeg|images/*;'"
                                        [nomePropriedadeArquivoB64]="'imagemB64'"
                                        [objeto]="selected">
                            </input-file>
                        </div>
                    </div>


                </mat-card-content>
            </mat-card>

            <mat-card class="footer-page">
                <mat-card-content>
                    <div class="row">
                        <div class="group-button col-md-12">
                            <button (click)="voltarLista()" color="primary" mat-raised-button type="button">
                                Voltar
                            </button>
                            <button color="primary" mat-raised-button type="submit">
                                Salvar
                            </button>
                            <button (click)="newRegistry()" *ngIf="selected.id" color="secondary" mat-raised-button
                                    type="button">
                                Novo
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>

    </div>
</div>
