.mat-radio-button {
    margin: 0 12px;
}

.form-container > div {
    margin-bottom: 10px;
}

label.mat-radio-label {
    margin-bottom: 0;
}

.mat-column-id, .mat-column-codigo, .mat-column-operacoes {
    max-width: 75px;
}
