<div class="file-container ">
    <div>
        <input #onFileInput
               (change)="onChangeFileInput($event)"
               [accept]="accept"
               [disabled]="disabled"
               [name]="idInput"
               hidden type="file">

        <a (click)="selecionarArquivo()" *ngIf="!existeArquivo()"
           [disabled]="disabled"
           color="primary"
           mat-raised-button>
            Anexar Arquivo
        </a>
        <a (click)="removerArquivo()" *ngIf="existeArquivo()"
           [disabled]="disabled"
           color="secondary"
           mat-raised-button>
            Remover Arquivo
        </a>
        <a *ngIf="exibirDownload && existeArquivo()" class="input-download"
           color="primary"
           mat-raised-button>
            Download
        </a>
    </div>
    <div *ngIf="existeArquivoTipo('imagem') && exibirImagem" class="img-input-file col-md-12">
        <img [src]="objeto![nomePropriedadeArquivoB64!]"/>
    </div>
</div>
