<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'"
                 [opened]="false"
                 class="sidenav"
                 fixedInViewport>
        <mat-toolbar>Menu</mat-toolbar>


        <mat-nav-list>

            <mat-list-item (click)="drawer.toggle()" routerLink="/home">
                <a mat-line>Home</a>
            </mat-list-item>

            <mat-list-item (click)="drawer.toggle()" routerLink="/example">
                <a mat-line>Example</a>
            </mat-list-item>

            <mat-list-item (click)="drawer.toggle()" *ngIf="showAdminBoard" routerLink="/admin">
                <a mat-line>Admin Board</a>
            </mat-list-item>

            <mat-list-item (click)="drawer.toggle()" *ngIf="showModeratorBoard" routerLink="/mod">
                <a mat-line>Moderator Board</a>
            </mat-list-item>

            <mat-list-item (click)="drawer.toggle()" *ngIf="isLogged" routerLink="/user">
                <a mat-line>User</a>
            </mat-list-item>

            <!--Botões do menu-->
            <mat-list-item [matMenuTriggerFor]="cadastro">
                <a mat-line>Cadastros</a>
                <mat-icon>arrow_right</mat-icon>
            </mat-list-item>

            <mat-list-item [matMenuTriggerFor]="outro">
                <a mat-line>Outro</a>
                <mat-icon>arrow_right</mat-icon>
            </mat-list-item>

            <mat-menu #cadastro="matMenu">
                <button [matMenuTriggerFor]="exemplo" mat-menu-item>Tela 1</button>
                <button [matMenuTriggerFor]="outro" mat-menu-item>Outro</button>
            </mat-menu>


            <!--Submenu-->
            <mat-menu #exemplo="matMenu">
                <button (click)="drawer.toggle()" mat-menu-item routerLink="/example">
                    <a mat-line>Exemplo</a>
                </button>
            </mat-menu>

            <mat-menu #outro="matMenu">
                <button (click)="drawer.toggle()" mat-menu-item routerLink="outro">
                    <a mat-line>Item 1</a>
                </button>
                <button (click)="drawer.toggle()" mat-menu-item routerLink="outro">
                    <a mat-line>Item 2</a>
                </button>
            </mat-menu>


            <mat-menu #outro="matMenu">

                <button (click)="drawer.toggle()" mat-menu-item routerLink="usuario">
                    <a mat-line>Item 1</a>
                </button>

                <button (click)="drawer.toggle()" mat-menu-item routerLink="usuario">
                    <a mat-line>Item 2</a>
                </button>

                <button (click)="drawer.toggle()" mat-menu-item routerLink="usuario">
                    <a mat-line>Item 2</a>
                </button>
            </mat-menu>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                (click)="drawer.toggle()"
                *ngIf="isLoggedIn$ | async"
                aria-label="Toggle sidenav"
                mat-icon-button
                type="button">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>NextAge Angular Starter</span>
            <span class="fill-space"></span>

            <div *ngIf="isLoggedIn$ | async" [hidden]="!user || user?.id == null">
                <mat-list-item [matMenuTriggerFor]="menuUsuarioLogado">
                    <a id="usuarioLogado" mat-line>{{user?.name}}
                        <div class="avatar-image" mat-card-avatar>
                            <mat-icon aria-label="Side nav toggle icon">person</mat-icon>
                        </div>
                    </a>
                </mat-list-item>
                <mat-menu #menuUsuarioLogado="">
                    <button [routerLink]="['/profile']" mat-menu-item>
                        <a mat-line>Minha Conta</a>
                    </button>
                    <button (click)="onLogout()" *ngIf="isLoggedIn$ | async" mat-menu-item>
                        <a mat-line>Sair</a>
                    </button>
                </mat-menu>
            </div>

            <!--<span>
                <button aria-label="Perfil" mat-icon-button class="example-icon">
                    <mat-icon style="color: white;">account_circle</mat-icon>
                </button>
                <button aria-label="Perfil" mat-button>
                    <mat-icon
                        style="background:#7e4273;border-radius:19px;color:white;margin-right:24px;margin-bottom:14px;font-size: xx-large;">account_circle</mat-icon> <label
                    style="font-size: 18px;color: white;">{{usuario?.nome}}</label>
                </button>
            </span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>-->

        </mat-toolbar>
        <!-- Add Content Here -->

        <div
            class="titulo-tela">{{tokenStorageService.actualRoute ? tokenStorageService.actualRoute.data.nome : ''}}</div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>


</mat-sidenav-container>
